# Sunum/geliştirme için güvenli yerel varsayılanlar; production'da değiştirin.
MYSQL_ROOT_PASSWORD=local_root_password
MYSQL_DATABASE=trdizin_grobid
MYSQL_USER=trdizin_app
MYSQL_PASSWORD=local_app_password

TRDIZIN_BASE_URL=https://search.trdizin.gov.tr
GROBID_URL=http://grobid:8070
EXTERNAL_CONNECT_TIMEOUT=10
EXTERNAL_READ_TIMEOUT=120
MAX_PDF_BYTES=52428800
